.contact-nav {
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    animation: biggerFont 350ms ease-in infinite;
  }
}
.about-nav {
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    animation: biggerFont 350ms ease-in infinite;
  }
}
.portfolio-nav {
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    animation: biggerFont 350ms ease-in infinite;
  }
}

@keyframes biggerFont {
  0% {
    font-size: 24px;
  }
  50% {
    font-size: 32px;
  }
  100% {
    font-size: 42px;
  }
}

.contact-nav :active {
font-size: 20px
}

.about-nav :active {
font-size: 20px
}

.portfolio-nav :active {
  font-size: 20px
}


.contact-nav :hover {
    transform: scale(1.5);
        font-size: 30px;
  }
  
  .about-nav :hover {
    transform: scale(1.5);
          font-size: 30px;
  }
  
  .portfolio-nav :hover {
     transform: scale(1.5);
      font-size: 30px;
  }